* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 236, 195);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  padding-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
.first {
  color: red;
  font-style: italic;
}

#your-name {
  background-color: rgb(241, 241, 125);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 40px;
}
